#progress {
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 50;
}
	#progress .content {
		background: white;
		color: var(--text);
		text-align: center;
		padding: 6px;
		border-radius: 8px;
		box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 8px 16px -8px rgba(0,0,0,0.3);
		width: 136px;
		pointer-events: none;
		transform: translateY(-100%) translateX(-100%) scale(0.8) rotate(-580deg);
		opacity: 0;
		transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
		transform-origin: top left;
	}
		#overlay-container.paymentPending.specialOffer #progress .content {
			transform: translateY(0) translateX(0) rotateY(0deg) scale(1);
			opacity: 1;
			transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
			transition-delay: 3s;
		}
		
		#progress .content .icon {
			width: 40px;
			height: 40px;
			margin: 16px auto 12px;
		}
			#progress .content .icon img {
				display: block;
				animation: 0.6s squish 0.4s infinite;
			}
			
		#progress .content h1 {
			font-size: 14px;
			margin: 0 0 12px;
			font-weight: 500;
		}
		#progress .content h2 {
			font-size: 13px;
			margin: 0 0 6px;
			font-weight: 400;
		}
		
		#progress .content .timer {
			width: 100%;
			height: 8px;
			position: relative;
			margin: 12px 0 8px;
		}
			#progress .content .timer:before,
			#progress .content .timer:after {
				content: "";
				position: absolute;
				top: 0; bottom: 0; left: 0;
			}
			#progress .content .timer:before {
				background: color-mix(in srgb, var(--text) 15%, transparent);
				border-radius: 4px;
				right: 0;
				box-shadow: inset 0 0 0 1px rgba(0,0,0,0.04);
			}
			#progress .content .timer:after {
				background-color: var(--blue);
				box-shadow: inset 0 0 0 1px rgba(0,0,0,0.04);
				background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent); /* https://lea.verou.me/blog/2010/12/checkered-stripes-other-background-patterns-with-css3-gradients/ */
				background-size: 32px 32px;
				border-radius: 4px 0 0 4px;
			}
			#overlay-container.paymentPending.specialOffer #progress .content .timer:after {
				animation: stripemove 1s linear infinite, grower 15s linear forwards, megagrower 20s 16s linear forwards;
			}

@keyframes stripemove {
	0% { background-position: 0 0; }
	100% { background-position: 32px 32px; }
}
@keyframes grower {
	0% { width: 0px; }
	100% { width: 120%; }
}
@keyframes megagrower {
	0% { width: calc(100vw - 160%); }
	100% { width: 100vw; }
}
