.window .content .terms {
	flex: 1 1 auto;
	padding: 0 8px 16px;
	border: 1px solid color-mix(in srgb, var(--text) 15%, transparent);
	margin: 0 0 16px;
	text-align: justify;
	font-size: 10px;
	line-height: 10px;
	overflow: scroll;
	scrollbar-gutter: stable;
	max-height: 62px;
}
	.window .content .terms p {
		margin: 8px 0;
		opacity: 0.7;
		white-space: pre;
	}
	
	.window .content .terms .label {
		margin-top: 16px;
	}
		.window .content .terms .label input[type="checkbox"] {
			margin-top: -2px;
		}
