@import "styles/overlay.css";
@import "styles/skip.css";
@import "styles/window.css";
@import "styles/progress.css";

@import "styles/steps/features.css";
@import "styles/steps/plans.css";
@import "styles/steps/reviews.css";
@import "styles/steps/spinner.css";
@import "styles/steps/terms.css";
@import "styles/steps/pudding.css";

html,
body {
	background: transparent;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	width: 100%;
	height: 100%;
}

body {
	font-family: "Funnel Display", sans-serif;
}

:root {
	/* bounce curve from easingwizard.com: */
	--bounceEasing: linear(0, 0.066 0.5%, 0.246 1%, 1.456 3.2%, 1.63 3.8%, 1.673 4.3%, 1.625 4.8%, 1.5 5.3%, 0.687 7.5%, 0.586 8%, 0.547 8.5%, 0.57 9%, 0.647 9.5%, 1.214 11.8%, 1.281 12.3%, 1.305 12.8%, 1.288 13.3%, 1.235 13.8%, 0.853 16.1%, 0.81 16.6%, 0.795 17.1%, 0.807 17.6%, 0.844 18.1%, 1.093 20.3%, 1.129 20.9%, 1.138 21.4%, 1.129 21.9%, 1.104 22.4%, 0.936 24.6%, 0.915 25.1%, 0.907 25.6%, 0.927 26.6%, 1.044 28.9%, 1.063 29.9%, 1.048 30.9%, 0.97 33.2%, 0.958 34.2%, 0.968 35.2%, 1.019 37.4%, 1.028 38.5%, 0.981 42.7%, 1.013 47%, 0.991 51.3%, 1.006 55.6%, 0.996 59.8%, 1.003 64.1%, 1);
	
	--text: #191c22;
	--green: #5dbf14;
	--red: #ef4035;
	--orange: #fe8b00;
	--blue: #0066c9;
}

@keyframes updown {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-1px);
	}
	75% {
		transform: translateY(1px);
	}
	100% {
		transform: translateY(0);
	}
}
@keyframes updown2 {
	0% {
		transform: translateY(0);
	}
	25% {
		transform: translateY(-2px);
	}
	75% {
		transform: translateY(2px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes speen {
	0% {
		transform: rotateY(0deg) rotateX(0deg) rotateZ(0deg) scale(-1,-1);
	}
	100% {
		transform: rotateY(360deg) rotateX(360deg) rotateZ(360deg) scale(-1,-1);
	}
}

@keyframes squish {
	0% {
		transform: scale(1, 1);
	}
	25% {
		transform: scale(1.4, 0.4);
	}
	50% {
		transform: scale(0.8, 1.2);
	}
	75% {
		transform: scale(1.1, 0.9);
	}
	100% {
		transform: scale(1, 1);
	}
}

@keyframes rot {
	0% {
		transform: translateY(0%) translateX(0%) scale(1) rotate(0deg);
		opacity: 1;
	}
	100% {
		transform: translateY(-100%) translateX(-100%) scale(0) rotate(-720deg);
		opacity: 0;
	}
}
